*{
    background-color: #FFFFF0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: static;
}

.box-model{
    background-color: yellow;
    padding: 20px;
    border: 15px solid grey;
    margin: 30px;
}