footer{
    border-top: 1px solid grey;
}

@media screen and (max-width: 470px){
    body {
        background-color: lightblue;
    }
    
    aside {
        display: none;
    }
}
@media screen and (max-width: 460px){
    body {
        background-color: yellow;
        padding: 0;
    }

}
