*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: static;

    /*
    padding: 1px;
    border: 1px solid grey;
    margin: 1px;
    */
}

.container{
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0;
}

ul :not(:first-child) {
    border-left: 1px solid grey;
}

li {
    display: inline;
    padding: 0 0 0 0.2em;
} 

 li:hover > a{
    text-decoration: none;
    color: black;
}

.main-image {
    min-height: 340px;
    max-width: 990px;

    display: block;
}

footer{
    background-color: #FFFFFF;
}

.col-1{
    width: 39%;
    float: left;    
    margin: 0.5%;
}
.col-2{
    width: 29%;
    float: left;
    padding: 0.5%;
}

h3{
    color: #6292E3;
}

h4{
    color: #46A74A;
}

.highlight{
    border: 5px solid grey;
    padding: 2px;
    background-color: #FDCB91;
}

img{
    width: 100%;
}

strong{
    color: #BE3936;
}

.container > article {
    min-height:100%;
    padding-bottom: 67px;
}