*{
    background-color: #FFFFF0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.relative{
    position: relative;
    left: 50px;
    background-color: #FFFFFF;
}

.relative{
    position: relative;
    left: 50px;
    background-color: #FFFFFF;
}